.sidebar{
    margin-top: 20px;
    width: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    z-index: 150;
    background-color: white;
}
.icon-container{
    display: flex;
    align-items: center;   
    justify-content: center;
    flex-direction: column;
    height: 76px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
.icon-container:hover{
    background-color: rgb(235, 235, 235);
}
.icons{
    height: 30px;
    /* margin-left: 20px; */
}
p{
    font-family: Roboto Arial;
    font-size: 12px;
    margin-top: 4px;
}